In [3]:
import pandas as pd

In [6]:
dictionary = {"col1":[12,13,15,16],"col2":[4,5,6,7]}
df = pd.DataFrame(dictionary)
df

   col1  col2
0    12     4
1    13     5
2    15     6
3    16     7

In [10]:
def classify(row):
    x=row['col1']
    y=row['col2']
    
    if x>y:
        return "high"
    elif x<y:
        return "low"
    else:
        return "mid"
    
    print(x)
    print(y)
    
test_class = df.apply(classify,axis=1)

In [12]:
df['test_class']=test_class

In [13]:
df

   col1  col2 test_class
0    12     4       high
1    13     5       high
2    15     6       high
3    16     7       high