Population Data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
file = r'data/resident-population-by-planning-area-age-group-and-sex.csv'
data_dem = pd.read_csv(file,parse_dates=['year'], dtype={'level_1':'category','level_2':'category','level_3':'category'})

In [27]:
data_dem.head()

        year level_1 level_2            level_3    value
0 2015-01-01   Total   Total              Total  3902690
1 2015-01-01   Total   Total  Ang Mo Kio- Total   174770
2 2015-01-01   Total   Total       Bedok- Total   289750
3 2015-01-01   Total   Total      Bishan- Total    90700
4 2015-01-01   Total   Total    Boon Lay- Total       30

In [28]:
#rename columns 
data_dem.columns = ['year','gender','age_group','region','value']

In [29]:
data_dem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       2359 non-null   datetime64[ns]
 1   gender     2359 non-null   category
 2   age_group  2359 non-null   category
 3   region     2359 non-null   category
 4   value      2359 non-null   int64
dtypes: category(3), datetime64[ns](1), int64(1)
memory usage: 47.7 KB

In [30]:
data_dem.age_group.value_counts()

Total        134
55 - 59      126
15 - 19      126
35 - 39      126
40 - 44      126
45 - 49      126
50 - 54      126
5 - 9        126
60 - 64      126
10 - 14      125
0 - 4        125
20 - 24      124
30 - 34      123
25 - 29      123
65 - 69      122
70 - 74      121
75 - 79      119
85 & Over    118
80 - 84      117
Name: age_group, dtype: int64

In [31]:
region_age_group = data_dem.groupby(['region','age_group'])['value'].sum()

In [32]:
region_age_group

region             age_group
Ang Mo Kio- Total  0 - 4         13580.0
                   10 - 14       16580.0
                   15 - 19       18640.0
                   20 - 24       20620.0
                   25 - 29       22350.0
                                  ...
Yishun- Total      70 - 74        8860.0
                   75 - 79        6370.0
                   80 - 84        3870.0
                   85 & Over      2960.0
                   Total        403940.0
Name: value, Length: 950, dtype: float64

In [36]:
#region_age_group[region_age_group['region'].isin("Bedok-Total")]

In [38]:
#!mkdir summary_output
region_age_group.to_csv('summary_output/region_age_group.csv')