In [2]:
import pandas as pd

In [4]:
dictionary = {"col1": [1,2,3,4,5,6], "col2":[4,5,6,7,8,9]}
df = pd.DataFrame(dictionary)
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6
3     4     7
4     5     8
5     6     9

In [6]:
def classify_num(row):
    x= row['col1']
    y= row['col2']
    print(x)
    print(y)
    if x>y:
        return "higher"
    else:
        return "lower"
test_class= df.apply(classify_num,axis=1)
test_class.head()

1
4
2
5
3
6
4
7
5
8
6
9

0    lower
1    lower
2    lower
3    lower
4    lower
dtype: object